<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.cyexplorer.tests">

    <application>
        <uses-library android:name="android.test.runner" />
        <provider
            android:name="com.android.cyexplorer.StubProvider"
            android:authorities="com.android.cyexplorer.stubprovider"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
       </provider>
    </application>

    <instrumentation android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.android.cyexplorer"
        android:label="Tests for cyExplorer" />

</manifest>
